<!-- 页脚 -->
<div class="page_footer">
    <hr />
    <p align="center"><a href="{% url 'movie_search_navbar' %}?movie_name=管理员联系方式">管理员联系方式：</a></p>

    <p>
        <strong>免责声明：</strong>
    </p>
    <p>
        本站不参与任何资源的制作，所有链接均来自互联网公开分享仅供学习交流，请在下载后24小时内删除，请支持正版，谢谢合作！
    </p>
    <p>
        如有侵犯您的权益，请发送邮件到 <strong>583123863@qq.com</strong> 我们会第一时间处理。
    </p>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- 网站访问量统计代码 -->
    <p align="center">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274275806'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274275806%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>
</div>
