<html>

<head>
    <title>免费百度网盘电影资源站</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>

<body>
    <div align="center">
        <!-- 功能导航栏 -->
        {% include 'index/navbar.html' %}

        <!-- 当且仅当页面为手机屏幕大小时才显示 -->
        <!-- 影片搜索栏 -->
        {% include 'movie/search_box_for_mobile.html' %}
        <!-- 影片搜索栏 End -->

        <!-- 功能列表 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">目前已有的功能有：</h3>
            </div>
            <div class="panel-body">
                <button class="btn btn-warning btn-lg"><a href="{% url 'movie_index_by_page' 1 %}">影视资源网盘分享</a></button>
                <br />
                <br />
                <button class="btn btn-warning btn-lg"><a href="{% url 'index' %}">正在开发中...</a></button>
            </div>
        </div>
        <!-- 功能列表 End -->

        <!-- 公众号推广广告 -->
        {% include 'index/wechat_ad.html' %}

        <!-- 页脚 -->
        {% include 'index/footer.html' %}
        <!-- page_footer End -->
    </div>
    <!-- align="center"  End -->
</body>

</html
