<!-- 功能导航栏 -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- 使导航栏居中 -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">电影资源</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'movie_index_by_page' 1 %}">影视资源</a></li>
            </ul>

            <!-- 当且仅当屏幕大小大于手机屏幕大小时显示 -->
            <!-- 搜索功能 -->
            <form class="navbar-form navbar-right visible-sm visible-md visible-lg" action="{% url 'movie_search_navbar' %}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入电影名搜索网盘资源" name=movie_name>
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <!-- 搜索功能 End -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- 功能导航栏 End -->
