<!-- 巨幕区域 -->
<div class="jumbotron">
    <h3>{{ movie.v_name }}</h3>
    <div class="pubdate_views">{{ movie.v_pub_date }}  {{ movie.v_views }} Views</div>
    <p><img src="{{ movie.v_pic }}" data-ke-src="{{ movie.v_pic }}" alt=""  title="" align="" width=50%  /><br /></p>

    <!-- 剧情介绍 -->
    {% if movie.v_text_info %}
        <p>剧情介绍：</p>
        <p><span style="font-size:14px;">{{ movie.v_text_info }}</span></p>
    {% endif %}
    <!-- 剧情信息 END -->

    <!-- 网盘 -->
    <br />
    <h4> <span class="label label-success">网盘：</span> <a href="{{ movie.v_bdpan }}" target="_blank"></h4>
    <p>点我跳转百度网盘<a/> </p>

    {% if movie.v_pass %}
        <h4><span class="label label-success">{{ movie.v_pass }}</span></h4>
    {% endif %}
    <!-- 网盘 END -->

    <!-- 网盘链接失效报告 -->
    <br />
    <button class="button btn-warning"><a href="{% url 'confirm_invalid' movie.id movie.v_valid %}" >网盘链接失效请点我</a></button>
    <br />

    <!-- 磁力链接 -->
    <br />
    {% if movie.v_ed2k %}
        <h4><span class="label label-info">磁力链接 1： </span></h4>
        <label class="label">
            <a target="_blank" href="{{ movie.v_ed2k }}" rel="noopener">{{ movie.v_ed2k_name }}</a>
        </label>
    {% endif %}

    {% if movie.v_magnet %}
        <h4><span class="label label-info">磁力链接 2：</span></h4>
        <label class="label">
            <a target="_blank" href="{{ movie.v_magnet }}" rel="noopener">{{ movie.v_magnet_name }}</a>
        </label>
    {% endif %}
    <!-- 磁力链接 END -->


</div>
<!-- 巨幕区域 End -->
