<html>

<head>
    <title>{% if page_title %}{{ page_title }} {% else %}炸弹网-专注影视网盘资源分享{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        .reset_form{
            text-align: center;
            color: red;
        }
    </style>
</head>

<body>
    <div align="center">
        <!-- 功能导航栏 -->
        {% include 'index/navbar.html' %}
        <!-- 功能导航栏 End -->
    </div>
    <!-- align="center" End -->

    <!-- reset_form 主体内容 -->
    <div class="reset_form_body" align="center">
        <!-- 微信推广代码 -->
        <!--
        <a href="https://mp.weixin.qq.com/s/KaZfTNhmu8AM63QDfVjU2g" ><img src="https://upload-images.jianshu.io/upload_images/5649568-f878eff64c05fb95.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"  width=100% /> </a> <br />
        -->

        <label class="label label-info">{{ msg }}</label><br />

        <!-- Form -->
        <br />
        <div class="reset_form">
            <form action="reset_valid/" method="get">
                资源ID：<input type="text" name="movie_id" value="{{ movie_id }}" ><br />
                验证码：<input type="password" name="b"><br /><br />

            <button type="submit" class="btn btn-success">提交</button>
            </form>
        </div>
    </div>

    <!-- Form End -->

    <!-- 页脚 -->
    <div align="center">
        {% include 'index/footer.html' %}
    </div>

</body>
</html>
